header {
    nav {
        .fix {
            position: fixed;
            left: 0;
            right: 0;
        }
    }
    .intro {
        // border: 10px tomato solid;
        background-image: url(https://mdbootstrap.com/img/Photos/Horizontal/Nature/full%20page/img%20%283%29.jpg);
        background-repeat: no-repeat;
        background-attachment: fixed;
        background-size: cover;
    }
}

body {
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
        line-height: 1.2;
    }
    font-size: 1rem;
    .fa {
        margin-top: 1%;
        margin-right: 5%;
    }
    .tall {
        height: 35px;
    }
    .fab {
        margin: 0 3%;
    }
    a {
        text-decoration: none;
    }
}